.sqr{float: left; width: 180px; height: 180px; margin: 0px; background-color: #e36e0e; display: inline-block; text-align: center; font-size: 100px;}
.topLine{border-top: 5px solid black;}
.leftLine{border-left: 10px solid black;}
.clearfix{clear:both;}
#container {
    width: 350px; margin: 0px auto;
}
body {
    background-color: black;
    color: black;
    background-image: url('images/halloweenBack.png');
    background-size: 100%;
    background-position: center;
   /* background-position: relative;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: myHalloweenFont;
    text-align: center;
    text-shadow:3px 3px 1px #A00000;
    /*text-shadow:1px 1px 0 white;*/
}

.box {
    display: block;
    width: 110px;
    height: 110px;
}
.box:hover{
    transition-duration: .6s;
    -webkit-transition-property: height, width;
    background: url('images/halloweennight.png');
    background-size: 110px 120px;
    background-repeat: no-repeat;
}

@font-face {
    font-family: myHalloweenFont; src: url('fonts/Monsters_Attack.ttf');
}
/*MAKE BLOOD DRIP ON FONT*/
header {
    font-family: myHalloweenFont;
    font-size: 110px;
    text-align: center;
}

.buttons {
  width: 100px;
  height: 50px;
  margin: 0px auto 0px auto;
  padding: 20px 2px 6px 2px;
  font-size: 20px;
}

#buttons {
  width: 100px;
  height: 50px;
  margin: 0px auto 0px auto;
  padding: 20px 2px 6px 2px;
  font-size: 20px;
}

#waiting {
  font-size: 30px;
  text-align: center;
  background-color: #3b3b3b;
}

/*Puts 3D shadow no animation*/
.blood {
       color: #2c2121;
       text-shadow:
       4px 4px 1px #300000,
       4px 6px 1px #400000,
       4px 8px 1px #500000,
       4px 10px 1px #600000,
       4px 12px 1px #700000,
       4px 14px 1px #800000,
       4px 16px 1px #900000,
       4px 18px 1px #A00000,
       4px 20px 1px #B00000,
       4px 22px 1px #C00000,
       4px 24px 1px #D00000,
       4px 26px 1px #E00000,
       4px 28px 1px #F00000,
       4px 30px 1px #FA0000,
       4px 32px 1px #FB0000,
       4px 34px 1px #FC0000,
       4px 36px 1px #FD0000,
       4px 38px 1px #FE0000,
       4px 40px 2px #FF0000;
}

.button {
  -moz-box-shadow:inset 5px 0px 15px 0px #fed897;
  -webkit-box-shadow:inset 5px 0px 15px 0px #fed897;
  box-shadow:inset 5px 0px 15px 0px #fed897;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105) );
  background:-moz-linear-gradient( center top, #f6b33d 5%, #d29105 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
  background-color:#f6b33d;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #eda933;
  display:inline-block;
  color:#ffffff;
  font-family:Comic Sans MS;
  font-size:20px;
  font-weight:bold;
  font-style:normal;
  height:45px;
  line-height:45px;
  width:115px;
  text-decoration:none;
  text-align:center;
  text-shadow:4px 0px 0px #cd8a15;
}
.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d29105), color-stop(1, #f6b33d) );
  background:-moz-linear-gradient( center top, #d29105 5%, #f6b33d 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29105', endColorstr='#f6b33d');
  background-color:#d29105;
}.button:active {
  position:relative;
  top:1px;
}